image:
  repository: your.dockerrepo.local/crypto-bundle/bc-wallet-tron-hdwallet

app:
  db:
    host:
      _default: "10.229.217.3"
      production: "10.229.217.3"
    port:
      _default: "5434"
      production: "5434"

  vault:
    use_https:
      _default: false
    host:
      _default: vault
    port:
      _default: 8200
    data_path:
      _default:
        - kv/data/crypto-bundle/bc-wallet-tron-hdwallet
    auth_method:
      _default: token
    token_renewal:
      enabled:
        _default: false
      interval:
        _default: 180s

  redis:
    host:
      _default: 10.229.217.3
    port:
      _default: 6380

  nats:
    hosts:
      _default:
        - nats://10.229.217.3:4223
        - nats://10.229.217.3:4224
        - nats://10.229.217.3:4225